@model webarcade.Models.Community

@{
    ViewData["Title"] = "Create";
}

<h1>Player,adicione abaixo seu jogo,use um encurtador de link.</h1>

<h4>Community</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="game" class="control-label"></label>
                <input asp-for="game" class="form-control" />
                <span asp-validation-for="game" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Criador" class="control-label"></label>
                <input asp-for="Criador" class="form-control" />
                <span asp-validation-for="Criador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary"> Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
