@model webarcade.Models.Sugestao

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Sugestao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sugestaoo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sugestaoo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avaliacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avaliacao)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a> 
    
</div>
